.navigation ul {
	display: flex;
	flex-direction: row; /* I like to be specific */
	flex-wrap: wrap;
	align-items: center; /* Vertical align in case of row */
	justify-content: center; /* Horizontal align in case of row */
}

.navigation ul > li {
	flex: 1;
	list-style: none;
}

.appContainer {
	display: flex;
	flex-direction: column;
	margin: auto;
	background: white;
	width: 100%;
	min-height: 100vh; /* cover entire screen */
}

body {
	background: #efefef;
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.picsilyNavBarText {
		display: none;
	}
}

.routeContainer {
	margin-top: 60px;
}

.picsilyNavBar {
	background: white;
	box-shadow: 1px 1px 9px 2px #efefef;
}

.picsilyNavBar a {
	color: #828080;
	text-decoration: none;
}

.picsilyNavBarUl {
	flex-direction: row;
	justify-content: space-around;
	flex: 1;
}

.picsilyNavBarUl li {
	flex: 1;
	text-align: center;
	position: relative;
}

.addButton {
	position: fixed;
	will-change: transform; /* GPU */
	bottom: 20px;
	right: 20px;
}

.addButton button {
	background: #fd4885 !important;
}

.picsilySearchBar {
	flex: 2;
}

.picsilySearchBarText {
	height: auto;
}

.activeLink a::after {
	border-bottom: 1px solid transparent;
	bottom: -10px;
	box-shadow: 2px 4px 1px 0px #eb5bb1;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
}

.activeLink svg {
	color: #fd4885 !important;
}

.activeLink a {
	color: #fd4885;
}

.picsilyNavBar img {
	height: 30px;
	width: auto;
}

.fileInput {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
}
