.loginBox {
	background: rgba(255, 255, 255, 1);
	font-family: 'Josefin Sans', sans-serif;
	/* font-family: 'Montserrat', sans-serif; */
}

.loginInput {
	width: 100%;
}

.loginInput input {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
}

.loginContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.loginForm {
	display: flex;
	flex-direction: column;
}

.registerMode .registerFields {
	display: inline-block !important;
}

.registerFields {
	display: none !important;
}
